$large_device : 'only screen and (min-width: 1200px)';
$medium_device : 'only screen and (min-width:992px) and (max-width:1199px)';
$tab_device : 'only screen and (max-width:991px)';
$small_device : '(max-width:767px)';
$large_mobile:'only screen and (max-width:767px)'














