$border-1 : #d6d3d3;
$text-1 : #343434;
$text-2 :#595959;
$btn-primary:#505cfd;
$border-2 :#99999933;
$ex-light : #f4f4f4aa;
$ex-dark : #333;
$heading-light : #595959;
$text-white:#e8e9ff;
$bg-white:#ffffff;
$text-3:#838383;
$tex-hov:#777777;
$bg-blue:#e7e8fe;
$date-color:#4d4d4d;
  